@import "tailwindcss";
@import "tw-animate-css";
@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-gradient-x {
  animation: gradient 8s ease infinite;
  background-size: 400% 400%;
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

/* NProgress bar */
#nprogress .bar {
  background: #3b82f6 !important; /* blue color */
  height: 3px !important;
}

/* Optional glowing effect */
#nprogress .peg {
  box-shadow: 0 0 10px #3b82f6, 0 0 5px #3b82f6;
}
